{% extends 'base.html.twig' %}

{% block title %}LiteRecAdmin{% endblock %}

{% block body %}
    <main>
        <h1>LiteRecAdmin</h1>
        <p>The LiteRec staff administration application. Setup in progress.</p>
    </main>
{% endblock %}
